@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  letter-spacing: 3px;
  font-weight: 600;
  color: rgba(#fff, 0.75);
  text-shadow: 1px 1px 1px #121212;
  transition: opacity 1000ms ease-in-out, background-color 1500ms ease-in-out;
}



.container {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}

.grid-row-3 {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
  justify-items: center;
  overflow: hidden;
  grid-gap: 1rem;
}

form {
  align-self: center;
  margin-top: 10vh;
}

input {
  opacity: 0;
  background-color: rgba(#000, 0.2);
  height: 8vh;
  width: calc(12rem + 25vw);
  outline: none;
  padding: 3vw;
  border: 1px solid rgba(#fff, 0.2);
  border-radius: 0.5rem;
  font-size: calc(1.25vw + 0.75rem);
}

.color-container {
  opacity: 0;
  background-color: rgba(#000, 0.1);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-auto-rows: calc(125px + .1rem);

  justify-items: center;
  align-items: center;
  grid-column-gap: 0.1rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem 3.5rem;
}

.color {
  box-shadow: $box-shadow;
  opacity: 0;
  display: grid;
  position: relative;
  border-radius: .5rem;
  width: 100%;
  height: 125px;
  transition: transform 250ms ease-out,
  box-shadow 500ms ease-out;
  
  &:active{
    transform: translate(5px, 5px);
    box-shadow: $box-shadow-hover;
   
  }
  &:hover {
    cursor: pointer;
  }
 
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(#fff, 0.5);
  border-radius: 1rem;
  &:hover {
    background: rgba(#fff, 0.9);
  }
}

::-webkit-scrollbar-track {

  background: rgba(#000, 0.1);;
}

::placeholder {
  color: rgba(#fff, 0.1);
  text-shadow: none;
  opacity: 1;
}

.selected {
  transition: opacity 200ms ease-out;
  opacity: 1 !important;
  transform: scale(0.99);
}

.current{
  position: absolute;
  top: 1vh;
  right: 1vw;
}