@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  letter-spacing: 3px;
  font-weight: 600;
  color: rgba(#fff, 0.9);
  text-shadow: 1px 1px 1px #121212;
  user-select: none;
  transition: transform 500ms ease-in-out, background-color 1500ms ease-in-out,
    opacity 1000ms ease-in-out;
}

.container {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}

.grid-row-2 {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 30% 70%;
  justify-items: center;
  overflow: hidden;
}

form {
  position: relative;
  width: 100%;
  height: 100%;
  #toggle-container {
    position: absolute;
    width: 100vw;
    height: 3rem;
    bottom: 0;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: rgba(3, 2, 2, 0.08);
    text-align: center;

    opacity: 0;
    #toggle-button {
      opacity: 0;
      color: #fff;
      transform: translateY(-0.3rem);
      box-shadow: none;
    }
  }
}

input {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(#000, 0.3);
  height: 8vh;
  width: calc(12rem + 25vw);
  outline: none;
  padding: 2vw;
  border: 1px solid rgba(#fff, 0.2);
  border-radius: 0.5rem;
  font-size: calc(1.25vw + 0.75rem);
}

.color-container {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-auto-rows: 12rem;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 2rem;
  grid-gap: .05rem;
}

.color {
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out 25ms;
  box-shadow: $box-shadow;
  opacity: 0;
  display: grid;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  width: 100%;
  height: 12rem;
  
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background: rgba(#fff, 0.5);
  border-radius: 1rem;
  &:hover {
    background: rgba(#fff, 0.9);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::placeholder {
  color: rgba(#fff, 0.1);
  text-shadow: none;
  opacity: 1;
}

.selected {
  transform: translate(8px, 8px);
  box-shadow: none;
}

.hovered {
  transform: translate(2px, 2px);
  box-shadow: $box-shadow-hover;
  cursor: pointer;
}

.current {
  position: absolute;
  top: 1vh;
  right: 1vw;
}

.toggled {
  transform: translateY(70vh) !important;
}

.button-toggled {
  transform: translateY(0.3rem) rotate(180deg) !important;
}

.toggle-hovered-f {
  cursor: pointer;
}

.toggle-hovered-b {
  cursor: pointer;
}
